* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: rgb(133, 12, 12);
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin: 40px auto;
}

.container-images {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.slider-text {
    margin-top: 1rem;
    text-align: center;
    max-width: 300px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slider-text.show {
    opacity: 1;
}

.on {
    opacity: 1;
}

#prev-button,
#next-button {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
}

#prev-button img,
#next-button img {
    width: 100%;
    height: 100%;
}

#prev-button {
    transform: rotate(180deg);
}

.assin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: rgb(133, 12, 12);
}